@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 72, 72, 72;
  --background-rgb: 247, 247, 247;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-sans);
}